<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c7668ed4-6450-49dd-8dbb-106e24a73680" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c7668ed4-6450-49dd-8dbb-106e24a73680fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
