<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6c44e36a-7b57-4b6a-9ab1-50b111b9fb98" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://dev-falconservice.carlstahl.ae" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6c44e36a-7b57-4b6a-9ab1-50b111b9fb98fileName">http%3A%2F%2Fdev-falconservice.carlstahl.ae</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://dev-falconservice.carlstahl.ae</con:endpoint>
  </con:endpoints>
</con:interface>
